In [1]:
#python contains int,long,float,string,complex,boolean datatypes

In [2]:
#Here type of a and b is int
a=10
b=20

In [3]:
print a+b
print a-b
print a*b
print a/b#Here it is expected to print first digit of quotient as both a,b are int./ is used to print coefficient
print a**2
print a%3#here % is used to print reminder

30
-10
200
0
100
1

In [4]:
print 10/20#here it is expected to print first digit of quotient as both a,b are int./ is used to print coefficient

0

In [5]:
print 10/20.0#here denominator is float hence it is expected to print full coefficient
#Either numerator or denominator should be float to print floating values of coefficient

0.5

In [6]:
a=20
b=20.0

In [7]:
print type(a)

<type 'int'>

In [8]:
type(b)

float

In [9]:
a=2**200#when value of a is exceeded the length of integer then python automatically converts to float type

In [10]:
type(a)#when value of a is exceeded the length of integer then python automatically converts to float type

long

In [11]:
print 20+23.45#int+float=float hence the resulting output 43.45 is float

43.45

In [12]:
s="python"

In [13]:
type(s)

str

In [14]:
s1="str1"
s2="str2"
print s1+s2#python support string concatenation using + sign.
#type(string)+type(string) is supported
#type(int)+type(string) is not supported

str1str2

In [1]:
print s1*s2#python supports multipation of string with int type only and not string type

NameError: name 's1' is not defined

In [3]:
s1='mani'
s3=3
print s1*3#here same string(mani) will be concatenated three times

manimanimani

In [16]:
print s1-s2#python won't support negative operator b/w strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [17]:
s1/s2#python won't support / operator b/w strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [18]:
a=raw_input("enter a value:")#Always raw_input take the value of int type only

enter a value:12

In [19]:
a

'12'

In [20]:
type(a)

str

In [21]:
a=20
s=a#here s and a variable points to same memory location and value is same
s1="a"#there are chances that s1 variable can be pointed to same memory location as s and a variables
print s
print s1

20
a

In [22]:
print a

20

In [23]:
print "a"

a

In [24]:
name="apple"

In [25]:
productname="apple"

In [26]:
product_name = "apple"#python only accepts _ value b/w two variable and not other special character

In [27]:
product$name = "apple"#python only accepts _ value b/w two variable and not other special character

SyntaxError: invalid syntax (<ipython-input-27-4f6ee25c8d88>, line 1)

In [28]:
name1="apple"

In [29]:
na1me="apple"

In [30]:
1name="apple"#python doesn't support variable name starting with numeric letter

SyntaxError: invalid syntax (<ipython-input-30-f767c17c5561>, line 1)

In [31]:
a="product_cost: "
cost=23.45
print a+cost#type(float)+type(string) concatination is not supported

TypeError: cannot concatenate 'str' and 'float' objects

In [32]:
print a+str(cost)#python supports explicit conversion using str(value) or int(value)

product_cost: 23.45

In [33]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print a+b#here both a and b values are type(string)
#hence it is expected to concatinate rather than performing addition
#type(string)+type(string)=concatinate

enter a value:12
enter a value:34
1234

In [34]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print int(a+b)#here we are converting total string value to int value

enter a value:12
enter a value:34
1234

In [35]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print int(a)+int(b)#this is the correct notation to perform addition

enter a value:12
enter a value:34
46

In [5]:
int?#ipython has ability to open doc string using ? mark for any python option

In [37]:
int()#Empty integer typecasting always displays zero value

0

In [38]:
int(23.45)#here we are converting float value to int value typecasting and conversion truncates to zero

23

In [39]:
int(23.45)#int value always take base10 value hence 23.45 will typecast in to 23

23

In [40]:
int("23.45")#In python int always check for base10 values which are 0-9.
#here proper base should be specified

ValueError: invalid literal for int() with base 10: '23.45'

In [41]:
int("23")#convert a number or string to an integer and return zero if no arguments are given.
#if x is floating point value the conversion truncates towards zero

23

In [42]:
#base 10 0-9
int?

In [43]:
int("12a")#here python expects base related to that string because 12a doesnt come under base10 0-9

ValueError: invalid literal for int() with base 10: '12a'

In [45]:
int("42a",11)#int can accept other than default base10.Here base11 is given and int will convert string in to base11 value

516

In [46]:
print 10*11**0+2*11**1+4*11**2#to find power of value the syntax is a**b

516

In [47]:
a=123#here type of a represents int datatype

In [48]:
a=0x12 #here type of a is int datatype and 0x represents base16

In [49]:
a=12
b=012 #here type of b is int datatype and 0 reperesnts base8(8+2=10)
print a,b

12 10

In [50]:
a=0x12 #here a is int datatype and base16
b=0o12 #here a is int datatype ans base8
c=0b0101 #here c is int datatype and base2
print a,b,c

18 10 5

In [51]:
a=0xc #here a is int datatype with base16.int defaults to base10 hence automatic conversion occurs here
print a

12

In [52]:
int("123",2)#base2 means either 0 or 1 hence it is invalid to represent 123 with base2

ValueError: invalid literal for int() with base 2: '123'

In [53]:
c1=1+2j #here c1 represents complex number a+ib
c2=2+3j #here c2 representts complex number a+ib
print c1+c2 # simple formula (a+c)+(b+d)i 
print c1-c2 #simple formula (a-c)+(b-d)i
print c1*c2 # general multiplication here i**2 represents -1.Formula is (a+bi)⋅(c+di)=(ac−bd)+(ad+bc)i
print c1/2  #general division 1/2+2/2j
print c1**2 #** represents c1*c2 1+2j*1+2j
print c1%3 #% represents we are looking for reminder.This module will be removed in python

(3+5j)
(-1-1j)
(-4+7j)
(0.5+1j)
(-3+4j)
(1+2j)

C:\Users\samba\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: DeprecationWarning: complex divmod(), // and % are deprecated

In [54]:
print c1+2 #here (1+2j)+(2+0j)

(3+2j)

In [55]:
a=2 #here type of a is int value

In [56]:
complex(a) #complex datatype converts real value to a+ib where b value defaults to zero

(2+0j)

In [57]:
c1+"str1" #unsupported addition operation for complex number and string datatype

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [58]:
num = 1+2j
s1="number="
print num+s1 #unsupported addition operation for complex and str datatype

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [59]:
num = 1+2j
s1="number="
print str(num)+s1 #str+str addition is supported operation

(1+2j)number=

In [60]:
s=12+23*3/45*5 #simple BODMAS law to find the answer 12+(23*3)/45*5

In [61]:
a #here type(a) is int

2

In [62]:
# operator precedency

In [63]:
a=23/34/10 #simple BODMAS law

In [64]:
a

0

In [65]:
print 23*34/45*6 #(23*34)/34*6 simple

102

In [66]:
a=python #to define string datatype single or double paranthesis is mandatory

NameError: name 'python' is not defined

In [67]:
a=true #to define string datatype single or double paranthesis is mandatory

NameError: name 'true' is not defined

In [68]:
a=True #here type of a represents bool type

In [69]:
b=False #here type of b represents bool type

In [70]:
c=None #here type of c represents none type

In [71]:
type(a) #type is bool

bool

In [72]:
type(c) #type is none type

NoneType

In [73]:
a="" #type is string

In [74]:
b=0 #type is int

In [75]:
c=None #type is Nonetype

In [76]:
# bolean expressions

In [77]:
print a #it will print nothing as it is empty string

In [78]:
print b #it will print as expected zero value

0

In [79]:
print c #it will print None

None

In [80]:
# > >= < <= is == != not in

In [81]:
10>20 #bool value and it will print False as expected

False

In [82]:
bool(20>30) #Returns True when argument x is true otherwise False.Bool funtions return either true of false

False

In [83]:
20>=20 #here = operation is also checked along with > operation

True

In [84]:
a=10
b=20

In [85]:
print bool(a>b) #Returns True when argument x is true otherwise False.Bool funtions return either true of false

False

In [86]:
print a>b #print value of the expression

False

In [87]:
10==10 #True as it comparing both equal values

True

In [88]:
10==10.0 #True

True

In [91]:
a=10
b=10.0
print a==b #== operator compares the values of the objects
print a is b #The operators is and is not test for object identity: x is y is true if and only if x and y are the same object.

True
True

In [90]:
a=10
b=a
print a is b #here both a,b points to same object hence value is true.the id values are true
print a==b #here a,b object values are true hence output is true

True
True

In [92]:
a=10
b=10.0
c=int(b)
print a==b #here a,b object values are checked and hence output is true
print a is c # here object address are checked and output is true

True
True

In [93]:
a=10
b=10.0
c=int(b)#here b will be converted to int datatype

In [94]:
a=10
b="2"
print a>b #string is greater than integer

False

In [95]:
print "1">2**200 #string is greater than integer

True

In [96]:
print "12">"2"
#python checks relation b/w 1 and 2 here 1<2 here output is false
#python check next occurance if both previous occurance values are same
#In string type 12 will be considered as two entities(1 is first digit and 2 is second digit)

False

In [97]:
print "12"<"2"
#In string type 12 will be considered as two entities(1 is first digit and 2 is second digit)
#python check relation b/w 1 and here 1<2 hence output is True

True

In [98]:
"apple","cat","banana" #here the type will be tuple

('apple', 'cat', 'banana')

In [99]:
"12","2","30","4" #here type will be tuple

('12', '2', '30', '4')

In [100]:
print 1>2 and 2>3 #output will be true only for a and b should be true

False

In [101]:
print 1>2 or 2<4 #output will be true only either a or b is true

True

In [102]:
print 1>2 and 2<4 #output will be true only for a and b should be true

False

In [103]:
print bool(0) #bool function returns only two values True or False.

False

In [104]:
print bool(1) #bool function returns only two values True or False.

True

In [105]:
print bool(-10) #bool function other than zero returns True value

True

In [106]:
print bool("python") #bool function return true for string value as input

True

In [107]:
print bool("") #bool function return false for empty string

False

In [108]:
print bool(None) #bool function return False for None type

False

In [109]:
print bool(True) #bool function return True for True

True

In [110]:
print bool(False) #bool function return False for False

False

In [111]:
print bool([]) #bool function return False for empty list

False

In [112]:
print bool(()) #bool function return False for empty tuple

False

In [113]:
print bool([1]) #bool function return True for non-empty list

True

In [114]:
print bool((1)) #bool function returns True for non=empty tuple

True

In [115]:
print bool("") #bool function returns False for empty string

False

In [116]:
print bool("0") #bool function returns True for non-empty string

True

In [117]:
bool(0) #bool function returns False for zero

False

In [118]:
"pyt" in "python" #compares pyt in python returns True if pyt is present in python otherwise False

True

In [119]:
"java" in "python" #java string is not in python hence returns False

False

In [120]:
"PYT" in "python" #PYT is not in python hence returns False

False

In [121]:
"py" not in "python" #opposite of in.py is in python hence output is vicaversa False

False

In [122]:
"pt" in "pyhon" #pt is not in pyhon hence output is False

False

In [123]:
"python"=="PYthon" #here before == py is in lowercase and after ==PY in uppercase hence output is False

False

In [124]:
"python"!="Python" #expected true

True